@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap");
/* font-family: "Anonymous Pro", monospace; */

body {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px;
  font-family: "Anonymous Pro", monospace;
  font-style: normal;
}

.contenedor-padre {
  display: flex;
  justify-content: space-between;
}

.contendedor-1 {
  border: solid white;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.nombre-titulo {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.contenedor-2 {
  display: flex;
  border: solid white;
  margin: 10px;
}

.contenedor-3 p {
  display: block;
  margin: 2px;
  padding: 5px;
}

.contenedor-3 h1 {
  margin: 2px;
  padding: 5px;
}

.imagen-perfil {
  border-radius: 100%;
  width: 350px;
  padding: 20px;
  margin: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.lista {
  text-align: center;
  margin-bottom: 15px;
}

.lista li {
  font-size: 50px;
  display: inline;
  margin-right: 10px;
}

.lista .fa-brands,
.lista .fa-regular {
  color: rgb(255, 255, 255);
}

.lista .fa-brands:hover,
.lista .fa-regular:hover {
  color: turquoise;
}

footer {
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border: solid red;
}
footer li {
  display: inline;
  text-align: left;
  padding: 5px;
  font-size: 40px;
}

.iconos {
  transition: color 0.5s ease; /* Transición suave de color durante 0.5 segundos */
}
